.no-content {
    padding: 60px 0;
    text-align: center;
    font-size: 15px;
    background-color: #fff;
    color: #999;

    span {
        display: block;
        font-size: 30px;
        color: #999;
    }
}