.icon-btn {
    cursor: pointer;
    text-align: center;
    padding: 16px 20px;

    p, span {
        display: inline-block;
        vertical-align: middle;
        font-size: 30px;
        color: #fff;
        opacity: 0.5;
    }

    p {
        font-size: 16px;
        padding: 0 0 2px 5px;
    }

    &.on {
        border-bottom: 4px solid #fff;
        cursor: default;

        p, span {
            opacity: 1;
        }
    }

}