.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;

    .dim-bg {
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
    }

    .write-box {
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -251px 0 0 -251px;
        padding: 20px;
        width: 500px;
        height: 300px;
        border-radius: 4px;
        background-color: #fff;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        h2 {
            font-size: 20px;
            font-weight: 600;
            color: #333;
            padding-bottom: 15px;
        }

        textarea {
            width: 100%;
            height: 170px;
            padding: 5px 10px;
            resize: none;
            overflow-y: auto;
            border-radius: 2px;
            border: 1px solid #ddd;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        .btn1 {
            position: absolute;
            right: 25px;
            bottom: 25px;
            color: #333;
            
            p {
                font-size: 14px;
            }

            span {
                padding: 1px 3px 0;
                color: #333;
            }
        }

        .close {
            position: absolute;
            right: 20px;
            top: 10px;
            font-size: 25px;
        }
    }

    @media screen and (max-width: 550px) {
        .write-box {
            width: 90%;
            margin: -200px 0 0;
            top: 50%;
            left: 5%;

            .btn1 p {
                font-size: 20px;

                span {
                    display: inline-block;
                    padding: 4px 3px 0;
                    font-size: 15px;
                }
            }
                
        }
    }
}