.header {
    position: relative;
    padding: 15px;
    text-align: center;
    background-color: #67aef6;

    h1 {
        color: #fff;
        font-size: 30px;
        font-weight: bold;
    }

    .nav, .btn1 {
        position: absolute;
        top: 0;
    }

    .nav {
        left: 20px;

        li {
            display: inline-block;
            vertical-align: middle;
            height: 75px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
    }

    .btn1 {
        top: 25px;
        right: 20px;

        span {
            display: inline-block;
            vertical-align: middle;
            font-size: 20px;
            padding: 0 5px 3px 0;
        }
    }
}