.post-item {
    position: relative;
    margin-top: 15px;
    padding: 20px;
    background-color: #fff;

     span {
        display: block;
        padding-bottom: 10px;
        color: #999;
    }

     p {
        font-size: 14px;
        line-height: 1.5;
        white-space: pre-line;
        -ms-word-wrap: break-word;
        word-wrap: break-word;
        -ms-word-break: break-all;
        word-break: break-all;
    }

     .delete {
        position: absolute;
        right: 23px;
        top: 10px;
        color: #999;
        font-size: 20px;
    }

    @media screen and (max-width: 550px) {
        margin-top: 10px;
        padding: 15px;
    }
}